.container .jumbotron{
  background: red;
  color:white;
}
body{
  background: url(https://images.unsplash.com/photo-1506494491502-7563f654329e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
}
.container{
  margin-top: 200px;
}
.jumbotron a{
  background: blue;
  color:white;
  border:2px solid green;
}
img{
  height: 200px;
  width:30%;
  float:left;
  margin:1.5%;
  border:2px solid red;
}
.imagesb
{
  border:3px solid red;
}
h1{
  color:white;
  text-align: center;
  background:red;
}
table,thead,th,tr,td{
    color:black;
    border:2px solid white;
    font-size: 20px;
    margin:auto;
    background:#99ffe6;
}
thead,th{
    color:white;
    border:2px solid white;
    font-size: 20px;
    margin:auto;
    background:blue;
}
table tr:nth-of-type(even)
{
  background: #f4c242;
}
