<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
              <h1>Welcome to India Jobs</h1>
              <p>continuous Job updates for every hour...</p>

              <a class="btn btn-primary btn-lg" href="/hyd" role="button">Hyderabad Jobs</a> &nbsp&nbsp&nbsp
              <a class="btn btn-primary btn-lg" href="/banglore" role="button">Bangalore Jobs</a> &nbsp&nbsp&nbsp
              <a class="btn btn-primary btn-lg" href="/chennai" role="button">Chennai Jobs</a> &nbsp&nbsp&nbsp
              <a class="btn btn-primary btn-lg" href="/pune" role="button">Pune Jobs</a>

    </div>

    </div>
  </body>
</html>
